.addartform{
    margin-left: 11rem;
    margin-top: 3rem;
    
}
.frmbtn{
    margin-top: 2rem;
    margin-left: 16rem;
}

.modalart{
    margin-top: 13rem;
}
.btnmodal{
    margin-left: 13rem;
}
.modaldiv2{
    margin-top: 1rem;
}

