


.artdasd_main{
    width:78%;
    height:98vh;
    /* border: 1px solid black; */
    margin-top: 0.7rem;
    margin-left: 10rem;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(250, 252, 252);

    
}

