.maindiv {
  height: 89vh;
  width: 100vw;
  background-image: url('../images/topart.png');
  background-repeat: no-repeat;
  background-size: cover;


}

.tarttext {
  text-align: center;
  padding-top: 2rem;
  font-family: 'Roboto Slab';
  font-size: 1.4rem;
  
}
.tart_name{
  font-family: 'Roboto Slab';
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #520463 0%,
      #d8e526 29%,
      #e30c0c 67%,
      #000000 100%);

  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 3rem;

}

.tartdiv {
  height: 32rem;
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
}

.svgwave {
  position: relative;
  z-index: 2;
  margin-top: -37rem;
}

.artbg {
  position: absolute;
  top: 0;
}

.tartcol1 {
  width: 3rem;
  height: 25rem;
  margin-top: 1.7rem;
  margin-left: 2rem;
  background:linear-gradient(rgb(164, 169, 234),rgb(9, 201, 140));
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
  transition: 0.5s ease-out;
  overflow: visible;
}

.firstcontent {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  background-color: rgb(252, 251, 249);
  place-content: center;
  border-radius: 1.2rem;
  
  
}

.cardbutton {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.tartcol1:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);

}






.tartcol1:hover .cardbutton {
  transform: translate(-50%, 50%);
  opacity: 1;
}




.imgbord {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.4rem solid rgb(248, 67, 188);
  margin-top: 0rem;
  margin-left: 2.7rem;
}

.rating {
  width:3.3rem;
  height: 1.8rem;
  background-color: green;
  margin-left: 5rem;
  padding-left: 0.5rem;
  color: white;

 
}